<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootswatch-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootswatch-dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body ng-app='MyApp'>
    <div class="container">
      <h1><%= title %></h1>
      <div ng-controller='mainCtrl'>
        <h3>New Todo:</h3>
        <div class="jumbotron" id='newTodoForm'>
          <form ng-submit="addTodo()" class="form-inline">
            <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control input-lg text-center" placeholder='Wash the Car' ng-model='newTodo.description' required>
            </div>
            <div class="form-group">
              <label for="dueDate">Do By:</label>
              <input type="date" class="form-control input-lg text-center" ng-model='newTodo.dueDate' required>
            </div>
            <button type='submit' class="btn btn-success btn-lg">Add Todo</button>
          </form>
        </div>
        <hr>
        <table class="table" ng-if='todos.length'>
          <thead>
            <tr>
              <th>#</th>
              <th class="sortHead" ng-repeat='(key, value) in todos[0]' ng-click='sortTodo(key)'>
                {{key.toUpperCase()}}
                <span class="fa fa-caret-square-o-down"></span>
              </th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="todoList">
            <tr ng-repeat='(key, todo) in todos orderBy: sortText track by $index'>
              <td>{{$index + 1}}</td>
              <td ng-repeat='value in contact'>{{value}}</td>
              <td class="delete" ng-click='deleteTodo(contact._id)'>
                <span class="fa fa-trash-o fa-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>